/* #builder {
    background-color: grey;
}

#top {
    background-color: #718dbf;
} */

/* * {
    background-color: #a4547d;
} */

#phase2 {
    display: none;
}
/* 
#wipSpan {
    background-color: #a4547d;
} */

#recList {
    background-color: #435472;
}

/* #playlistName {
    color: #723a57;
} */