/* #builder {
    background-color: grey;
}

#top {
    background-color: #718dbf;
} */

/* * {
    background-color: #a4547d;
} */

#phase2 {
    display: none;
}

#remove {
    color: #a23543;
}

#save {
    color: #5f9b79;
}

#edit {
    color: #cba456;
}

#recList {
    background-color: #435472;
}

#WIP-tools {
    display: none;
}

/* #playlistName {
    color: #723a57;
} */