/* #builder {
    background-color: grey;
}

#top {
    background-color: #718dbf;
} */

/* * {
    background-color: #a4547d;
} */

/* #genres {
    display: none;
} */

#WIP-tools {
    display: none;
}

#playlistName {
    color: #77c298;
}